.animation{
  display: block;
  position: relative;
  margin-left:22%;
  width: 50%;
  line-height: 1.5em;
  text-align: right;
}

.motion {
  display: none;
  position: relative;
  margin-left:22%;
  width: 50%;
  line-height: 1.5em;
  text-align: right;
}
.posts{
  position: relative;
  
  width:100%;
  padding:2em;
  text-align: left;
  margin-bottom: 3em;
}
.info{
  position: absolute;
  right:0;
  bottom:1em;
  font-family:'Abril Fatface', cursive;
  font-size: 2em;
  width:50%;
}
video{
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: white;
  width:100%;
  outline: none;
}
.title{
  /*
  color:#857272;
  margin-top: 0;
  margin-bottom: 1em;
  margin-right: -2em;
  font-family:'Abril Fatface', cursive;
  letter-spacing: 2px;
  font-size: 2em;
  font-style: italic;
  line-height: 1em;
  */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position:absolute;
  top:0em;
  float:left;
  left:-2em;
  top:1em;
  font-size:2em;
  font-style:italic;
  font-family:'Abril Fatface', cursive;
  color:#9C8586;
  letter-spacing: 2px;
}
.vid-wrap{
  position: relative;
}
.vid-title{
  writing-mode: vertical-lr;
  text-orientation: mixed;
  position:absolute;
  text-align: right;
  bottom:2.2em;
  right:-6em;
  font-size:1em; 
  font-weight: 100;
}
.vid-info{
  position: relative;
  width:100%;
  text-align: right;
}