.contact{
	display: block;
	margin:8em auto 8em auto;
	width:50%;

	
	font-weight: normal;
}
.contact h1{
	letter-spacing: 1px;
	font-size:5em;
	color:#EC6D99;
	font-weight: 700;
	margin-bottom: .5em;
	opacity: 0;

	animation-name: fadeIn;
	animation-duration: .8s;
	animation-fill-mode: forwards;
}
.contact p{
	letter-spacing: 2px;
	line-height: 3em;
	font-size: 1.3em;
	opacity: 0;

	animation-name: fadeIn;
	animation-duration: .8s;
	animation-delay: .3s;
	animation-fill-mode: forwards;
}
.contact a{
	color:#EC6D99;
	text-decoration: none;
	font-weight: 300;
}
.underline{
	border-bottom:4px solid pink;
}
.contact nav{
	font-size: 1em;
	margin-top: 4em;
	line-height: 2em;
	opacity: 0;

	animation-name: fadeIn;
	animation-duration: .8s;
	animation-delay: .6s;
	animation-fill-mode: forwards;
}
.contact nav ul{
	list-style-type: none;
	margin: 0;
  	padding: 0;
}
.contact nav ul li{
	display: inline-block;
	position:relative;
	padding-right: 2em;
}
.contact nav ul li a{
	color:#2C2729;
	font-weight: 400;
	text-decoration: none;
}
.contact nav ul li a:hover{
	color:#EC6D99;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
