.design{
	display: block;
	margin:4em auto 2em auto;
	width:50%;
	text-align: center;
	font-weight: normal;
	/*
	position: sticky;
	top:0;
	z-index: 99999;
	*/
}
.topheader{
	opacity: 0;
	

	animation-name: fadeIn;
	animation-duration: .8s;
	animation-fill-mode: forwards;
}
.title{
	letter-spacing: 1px;
	font-size:5em;
	color:#EC6D99;
	font-weight: 700;
	margom-bottom: 0em;
	padding-bottom: 0em;
	
}
.underline-2{
	padding:3px;
	border-bottom:2px solid pink;
}
.container p{
	line-height: 2em;
	font-size: 1.2em;
	letter-spacing: 1px;
	font-variant: small-caps;
	margin-top: 0;
	opacity: 0;

	animation-name: fadeIn;
	animation-duration: .8s;
	animation-delay: .6s;
	animation-fill-mode: forwards;
}
.design a{
	color:#EC6D99;
	text-decoration: none;
	font-weight: 300;
}
.underline{
	border-bottom:4px solid pink;
}
.design nav{
	font-size: .9em;
	line-height: 2em;
	opacity: 0;

	animation-name: fadeIn;
	animation-duration: .8s;
	animation-delay: .3s;
	animation-fill-mode: forwards;
}
.design nav ul{
	list-style-type: none;
	margin: 0;
  	padding: 0;
}
.design nav ul li{
	display: inline-block;
	position:relative;
	padding-right: 2em;
}
.design nav ul li a{
	color:#2C2729;
	font-weight: 400;
	text-decoration: none;
}
.design nav ul li a:hover{
	color:#EC6D99;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.container{
	margin-top: 4em;
	margin-bottom: 4em;
	display: grid;
	grid-template-columns: 250px 250px 250px;
	grid-template-rows: auto;
	grid-gap: 3em;
	text-align: center;
	justify-content: center;
	opacity: 0;

	animation-name: fadeIn;
	animation-duration: .8s;
	animation-delay: .6s;
	animation-fill-mode: forwards;
}
.item{
	width:100%;
}
.item img{
	width:250px;
	height:150px;
	object-fit: cover;
	padding:10px;

	border:1px solid white;
}
.item img:hover{
	opacity: .8;
	border:1px solid white;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.content{
	margin: 4em auto 4em auto;
	position:relative;
	width:50%;
	text-align: center;
	opacity: 0;

	animation-name: fadeIn;
	animation-duration: .8s;
	animation-delay: .6s;
	animation-fill-mode: forwards;
}
.content p{
	line-height: 2em;
	font-size:.9em;
	width:80%;
	margin: auto;
}
.content img{
	width:100%;
	margin-top: 1em;
}
.content a{
	text-decoration: none;
	color:#2C2729;
	border-bottom:2px solid pink;
}
.title2{
	font-variant: small-caps;
	font-weight: 700;
	color:#EC6D99;
	font-size: 2.5em;
	letter-spacing: 2px;
}
.olympics{
	margin-top:2em;
	margin-bottom: 2em;
	width:100%;
}
.olympics img{
  width:13%;
  background-color: white;
  border-radius: 50%;
  padding:.5em;
  margin:.5em;
}
.kalos img{
  width:100%;
  opacity: .8;
  margin:.5em;
}
.eblast img{
  width:90%;
  padding:2em;
  border:1px solid #E8E5E5;
}
.eblast, .kalos{
	margin-top:2em;
	margin-bottom: 2em;
	width:100%;
}
video{
	margin:1em 0 0 1em;
	width:90%;
	outline: none;
}
.song-title{
	padding:1em;
	letter-spacing: 1px;
	font-style: italic;
	font-size: 2em;
	text-align: right;
}
@media only screen and (max-width: 1130px){
    .design{
      width:90%;
    }
    .container{
    	grid-template-columns: 250px 250px;
    }
    .content{
    	width:80%;
    }
}