.illustration, .pouch, .products {
  position: relative;
  display: block;
  margin:auto;
  padding: 2em;
  width: 90%;
  line-height: 1.5em;
  text-align: center;
}
.illustration img { 
  width: 540px;
  height:540px;
  padding: 2em;
  margin: 1em;
  object-fit: cover;
  background-color: white;
  transition: all .2s ease-in-out;
}
.products img{
  width:90%;
  padding:2em;
  margin-bottom: 2em;
  background-color: white;
}
.info{
  position: relative;
  margin:auto;
      top:0;
      bottom:0;
      left:0;
      right:0;
  text-align: center;
  width:80%;
  font-size:.9em;
  padding:1em;
  font-family: 'Open Sans', sans-serif;
}
.title{
  color:#38386D;
  
  margin-bottom: 1em;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
  font-size: 2em;
  line-height: 1em;
}
h1{
  color:#38386D;
  margin-bottom: 0;
 
  /*
  font-family:'Abril Fatface', cursive;
  */
  letter-spacing: 1px;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1em;
  
}
.pouch img{
  width:80%;
  padding: 2em;
  background-color: white;
}
.pouch-info{
  position: relative;
  margin:auto;
      top:0;
      bottom:0;
      left:0;
      right:0;
  text-align: center;
  width:80%;
  padding:1em;
}
@media only screen and (max-width: 1580px){
  .illustration img{
    width: 400px;
    height:400px;
  }
}
@media only screen and (max-width: 1270px){
  .illustration img{
    width: 80%;
    height:80%;
  }
}