body{
	font-family: 'Open Sans', sans-serif;
	font-size:1em;
	color:#2C2729;
}
::selection{
	background-color: pink;
	color:white;
}
@keyframes fadeIn{
	0%{
		opacity:0;
	}
	100%{
		opacity:100;
	}
}
.homewrapper{
	display: block;
	margin:8em auto 8em auto;
	width:50%;

	
	font-weight: normal;
}
.homewrapper h1{
	letter-spacing: 3px;
	font-size:6em;
	color:#EC6D99;
	font-weight: 700;
	margin-bottom: .5em;
	opacity: 0;

	animation-name: fadeIn;
	animation-duration: .8s;
	animation-fill-mode: forwards;
}
.homewrapper h1 a{
	color:#EC6D99;
	text-decoration: none;
}
.homewrapper p{
	letter-spacing: 1px;
	line-height: 2em;
	font-size: 1.7em;
	opacity: 0;

	animation-name: fadeIn;
	animation-duration: .8s;
	animation-delay: .3s;
	animation-fill-mode: forwards;
}
.underline{
	border-bottom:4px solid pink;
}
.homewrapper nav{
	font-size: 1em;
	margin-top: 4em;
	line-height: 2em;
	opacity: 0;

	animation-name: fadeIn;
	animation-duration: .8s;
	animation-delay: .6s;
	animation-fill-mode: forwards;
}
.homewrapper nav ul{
	list-style-type: none;
	margin: 0;
  	padding: 0;
}
.homewrapper nav ul li{
	display: inline-block;
	position:relative;
	padding-right: 2em;
}
.homewrapper nav ul li a{
	color:#2C2729;
	text-decoration: none;
}
.homewrapper nav ul li a:hover{
	color:#EC6D99;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
