body{
	margin:5em;
  color:#2F2F43;
  /*
	background-color: #FAF1F3;
  background: linear-gradient(to right bottom, #dde6f9 50%, #f9e0dd 50%);
  */
  background-color: #FCEEF1;
  /*
  background: linear-gradient(to right bottom, #dde6f9 50%, #f9e0dd 50%);
	background: linear-gradient(to right bottom, #F5BFCA 50%, #FCEEF1 50%);
  background-image: linear-gradient(#dde6f9, #f9e0dd);
  */
  text-align: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
header{
  margin:auto;
  text-align: center;
  width:80%;
  font-size: 1.2em;
  padding-bottom: 4em;
}
header img{
  width:150px;
}
a{
  color:#443E3F;
  text-decoration: none;
}
a:hover{
  color:#F17992;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.left{
	float:left;
	font-size: 2.2em;
	letter-spacing: 5px;
  /*
  background-image:url("../cl.png");
  background-size: contain;
  background-repeat: no-repeat;
  width:100px;
  
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;*/
}
.right{
	float:right;
  letter-spacing: 2px;

  /*
  opacity: 0;

  animation-name: fadeIn;
  animation-delay: .6s;
  animation-duration: 1s;
  animation-fill-mode: forwards;*/
}
.right a{
	color:#29335B;
	text-decoration: none;
	font-size: 1.1em;
	font-variant: small-caps;
}
.right a:hover{
  color:#F17992;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/*
button{
  font-family: 'Ubuntu', sans-serif;
  border-radius: 20px;
  font-size:1.2em;
  width:100px;
  background-color: #333140;
  padding:15px;
  color:white;
  outline: none;
  border:none;
}
button:hover{
  background-color: #F17992;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/*
nav ul li > a{
	position:relative;
	text-decoration: none;
}
nav ul li > a:before{
 	  content: "";
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	bottom: 0;
  	left: 0;
  	background-color: rgba(255,174,158,1);
  	visibility: hidden;
  	-webkit-transform: scaleX(0);
  	transform: scaleX(0);
  	-webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}
nav ul li > a:hover:before {
  	visibility: visible;
  	-webkit-transform: scaleX(1);
  	transform: scaleX(1);
}
nav ul li ul{
  display: none;
  color:#615053;
  position:absolute;
  left:-3.7em;
  width:250px;
  background-color: white;
  font-size: .8em;

  font-weight: 100;
  z-index: 999;
}
*/
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.hello{
  position: fixed;
  margin:auto;
  bottom:3em;
  right:0;
  left:0;
  height:70vh;
  z-index: -9;

}
.index_info{
  position:absolute;
  padding:2em;
  top:40%;
  bottom:0;
  left:15%;
  right:0;
}
.index_info p{
  font-family: 'Open Sans', sans-serif;
}
.index_info h1{
  font-size: 3em;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 0;
}
.index_info h2{
  text-indent: 1em;
  font-size:1.3em;
  color:#676779;
  font-weight: 100;
}
.index_info h3{
  font-size:2em;
  color:white;
}
.rectangle{
  position: absolute;
  margin: auto;
  top:40%;
  bottom:0;
  left:0;
  right:0;
  width:80%;
  height:350px;
  background-color: #F9A0B3;
  z-index: -9999;
}
@keyframes line_one{
  0%{
    width:0;
  }
  100%{
    width:90%;
  }
}
.line1{
  position: absolute;
  bottom:5%;
  display: block;

  margin-left: auto;
  margin-right: auto;
  background-color: #40313A;
  width:0%;
  height:2px;
  opacity: .6;
  z-index: -9999;
  left:5%;
  animation-name: line_one;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes line_two{
  0%{
    width:0;
  }
  100%{
    width:90%;
  }
}
.line2{
  position: absolute;
  bottom:5%;
  display: block;

  margin-left: auto;
  margin-right: auto;
  background-color: #40313A;
  width:0%;
  height:2px;
  opacity: .6;
  z-index: -9999;
  right:5%;

  animation-name: line_two;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
#top, #bottom {
  background: #333456;
  position: fixed;
}

#left, #right {
  background: #333456;
  position: fixed;
}

#left, #right {
  top: 0;
  bottom: 0;
  width: 20px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top, #bottom {
  left: 0;
  right: 0;
  height: 20px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}
#corner1{
  position:fixed;
  top:5%;
  left:5%;
  width:75px;
}
#corner2{
  position:fixed;
  top:5%;
  right:5%;
  width:75px;
  transform: rotate(90deg);
}
#corner3{
  position:fixed;
  bottom:5%;
  left:5%;
  width:75px;
  transform: rotate(-90deg);
}
#corner4{
  position:fixed;
  bottom:5%;
  right:5%;
  width:75px;
  transform: rotate(180deg);
}
footer{
  border-top: 1px solid gray;
  padding-top: 4em;
}
@media only screen and (max-width: 890px){
    body{
      margin-left:1em;
      margin-right:1em;
      margin-top:3em;
    }
    
}
@media only screen and (max-width: 730px){
    .left, .right{
      float:none;
    }
    header{
      padding-bottom: 0;
    }
}
#sidebar, #content {
  height: 100%;
  overflow:auto;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background:rgba(252,238,241,.9);
  width: 100%;
  height:100%;
  transition: width .35s;
}
.sidebar-info{
  text-align: center;
  padding:50%;
}

#sidebar.collapsed {
  width: 0;
}

#content {
  float:right;
  display: none;
  width:100px;
}

button{
  background-color: #FCEEF1;
  outline: none;
  border:none;
  font-size: 1.7em;
  cursor: pointer;
  color:#2F2F43;
}

#closer {
  float:right;
}
/*
@media only screen and (max-width:1015px){
  nav{
    display: none;
  }
  #content{
    display: block;
  }
}*/