@keyframes bounce_one{
	0%{
		bottom:38%;
	}
	50%{
		bottom:48%;
	}
	100%{
		bottom:38%;
	}
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.circle1{
  position: absolute;
  border-radius: 50%;
  bottom:38%;
  left:23%;
  width:125px;
  height:125px;
  background-color: #FFB9C2;
  z-index: -9999;
  transition: width 1s;
  /*
  animation-name: bounce_one;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  */
  opacity:0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}
@keyframes bounce_two{
	0%{
		bottom:23%;
	}
	50%{
		bottom:33%;
	}
	100%{
		bottom:23%;
	}
}
.circle2{
  position: absolute;
  border-radius: 50%;
  bottom:23%;
  left:15%;
  width:80px;
  height:80px;
  background-color: #f17992;
  z-index: -9999;
  /*
  animation-name: bounce_two;
  animation-delay: .5s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  */
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
}
@keyframes bounce_three{
	0%{
		bottom:48%;
	}
	50%{
		bottom:38%;
	}
	100%{
		bottom:48%;
	}
}
.circle3{
  position: absolute;
  border-radius: 50%;
  bottom:48%;
  right:15%;
  width:90px;
  height:90px;
  background-color: #f17992;
  z-index: -9999;
  /*
  animation-name: bounce_three;
  animation-delay: .2s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  */
  opacity:0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: .6s;
  animation-fill-mode: forwards;
}
@keyframes bounce_four{
	0%{
		bottom:28%;
	}
	50%{
		bottom:18%;
	}
	100%{
		bottom:28%;
	}
}
.circle4{
  position: absolute;
  border-radius: 50%;
  bottom:28%;
  right:18%;
  width:115px;
  height:115px;
  background-color: #FFB9C2;
  z-index: -9999;
  /*
  animation-name: bounce_four;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  */
  opacity:0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
}
.circle5{
  position: absolute;
  border-radius: 50%;
  bottom:18%;
  left:28%;
  width:90px;
  height:90px;
  background-color: white;
  background-image: url(../pattern.png);
  z-index: -9999;

  opacity:0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
}
.circle6{
  position: absolute;
  border-radius: 50%;
  bottom:28%;
  right:10%;
  width:40px;
  height:40px;
  background-color: white;
  background-image: url(../pattern.png);
  z-index: -9999;
  opacity:0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
}
